<div>
  <div class="mb-6">
    <label for="email1" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2"
      >Correo electrónico</label
    >
    <input
      pInputText
      id="email1"
      type="email"
      placeholder="Correo electrónico"
      class="w-full md:w-120"
      [ngClass]="{ 'ng-invalid ng-dirty': errors.email }"
      [(ngModel)]="email"
      (input)="onFieldChange('email')"
      required
    />
    @if (errors.email) {
      <small class="text-red-500 block mt-1">{{ errors.email }}</small>
    }
  </div>

  <div class="mb-6">
    <label for="password1" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2"
      >Contraseña</label
    >
    <p-password
      id="password1"
      [(ngModel)]="password"
      placeholder="Contraseña"
      [toggleMask]="true"
      styleClass="w-full"
      [ngClass]="{ 'ng-invalid ng-dirty': errors.password }"
      [fluid]="true"
      [feedback]="false"
      (ngModelChange)="onFieldChange('password')"
      required
    ></p-password>
    @if (errors.password) {
      <small class="text-red-500 block mt-1">{{ errors.password }}</small>
    }
  </div>

  <div class="flex items-center justify-between mt-2 mb-8 gap-8">
    <a
      routerLink="/auth/sign-up"
      class="font-medium no-underline ml-2 text-right cursor-pointer text-primary"
      >No tienes una cuenta?</a
    >
    <a
      routerLink="/auth/password-recovery"
      class="font-medium no-underline ml-2 text-right cursor-pointer text-primary"
      >Olvido su contraseña?</a
    >
  </div>
  <p-button
    label="Iniciar sesión"
    styleClass="w-full"
    [loading]="loading"
    [disabled]="loading"
    (onClick)="onSubmit()"
  ></p-button>
</div>
